.css-input {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 6px;
  font-size: 23px;
  border-width: 1px;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-radius: 5px;
}
.css-input:focus {
  outline: none;
}

.btn-arrow {
  padding: 9px;
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.bi-arrow {
  font-size: 22px;
}
@media (max-width: 500px) {
  .css-input {
    padding: 4px;
    font-size: 16px;
  }
  .bi-arrow {
    font-size: 16px;
  }
  .btn-arrow {
    margin-bottom: 0px;
    padding: 6px;
  }
}
