.main {
  background-image: var(--gradient);
  color: var(--text);
  min-height: 100vh;
}

.glass {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 600px;
  color: white;
  border-radius: 20px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--box);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.content {
  margin: 25px;
}

@media (max-width: 500px) {
  .glass {
    width: 350px;
    margin-top: 50px;
  }
}
