.main {
  background-image: var(--gradient);
  color: var(--text);
  min-height: 100vh;
}

.glass {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 600px;
  border-radius: 0.25rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2), 0 10px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.main {
  /* position: relative; */
}
.centers-container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-top: 50px;
}

.content {
  margin: 25px;
}

@media (max-width: 500px) {
  .glass {
    width: 350px;
    margin-top: 50px;
  }
  .welcome {
    font-size: 20px;
  }
}

.welcome {
  margin-top: 20px;
}
