#dark-mode {
  --gradient: linear-gradient(150deg, #232931 0%, #232931 74%);
  --toggle: #d7d8da;
  --txtbox: #ebeced;
  --btn: #d7d8da;
}

#lite-mode {
  --gradient: linear-gradient(150deg, #f0f8ff6e, #e6faf7);
  --toggle: #282c35;
  --txtbox: #f1f5f8;
  --btn: #a5d5f8;
}

h1 {
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Ubuntu Mono", monospace;
}
