#dark-mode {
  --gradient: linear-gradient(315deg, #000000 0%, #5e5368 74%);
  --primary: #fff;
  --second: #000;
  --font: rgb(255, 255, 255);
  --box: rgba(255, 255, 255, 0.5);
}

#lite-mode {
  --gradient: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  --primary: rgb(0, 0, 0);
  --second: #fff;
  --font: rgb(0, 0, 0);
  --box: rgba(0, 0, 0, 0.4);
}

h1 {
  margin: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Ubuntu Mono", monospace;
}
